

.toggle:last-of-type{
  margin-left: auto;
  position: relative;
  top: -13rem;
  
  
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

/* 
***********************
 FLAG BOXES
***********************
 */

.country__box{
  max-width: 30rem;
  border-radius: .6rem;
  box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
}


.country__flag{
  width: 100%;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  
}

.country__data{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 1rem; 
  font-size: 1.4rem;
}

.country__title{
  height: 3rem;
  margin: .6rem 0;
  text-align: center;
}

.country__region,
.country__row{
  padding-bottom: 1rem;
 
  
}


.country__row span {
  display: inline-block;
  /* margin-right: 2rem; */
  font-size: 2.4rem;
}

.country__container{
  margin: 7rem 0 ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  align-items: center;
}


/* 
***********************
 TOGGLE SWITCHER
***********************
 */

 .switch{
   background-color: #111;
   display: flex;
   border-radius: 5rem;
   height: 2.6rem;
   width: 5rem;
   position: relative;

 }

 .ball{
   background-color: #fff;
   position: absolute;
   height: 2.2rem;
   width: 2.2rem;
   top: .2rem;
   left: .2rem;
   border-radius: 50%;
   transition: transform 0.2s linear;

 }

 .slider{
   opacity: 0;
   position: absolute;
   z-index: 9;
 }


 .slider:checked + .switch .ball{
   transform: translateX(2.4rem);
 }


